# This style of .gitignore is a "deny by default", so that real key material
# can be kept here and not pushed to a (public) repo.

*.*
!.gitignore
!Makefile
!Makefile.sub
!README.md
!lem.click
!lem.click/template.conf
!Makefile.sub
!*.sh

